.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 366px;
  height: 474px;
  border-radius: 10px;
  background-color: #303A53;


  .title {
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    line-height: 25.99px;
    width: 285px;
    margin-bottom: 14px;

    span {
      color: #FF3459;
    }
    @media (max-width: 1000px) {
      font-size: 20px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }

  .agree {
    width: 248px;
    margin-top: 20px;
    @media (max-width: 1000px) {
      width: 224px;
    }
    span {
      display: block;
      font-size: 12px;
      font-weight: 500;
      line-height: 17.88px;
      text-align: center;
      color: #FFFFFF80;
      @media (max-width: 1000px) {
        font-size: 11px;
        line-height: 149%;
      }
    }

    span:last-child {
      text-decoration: underline;
      cursor: pointer;
    }
  }

}

.promotional {
  display: none;
  @media (max-width: 1000px) {
    display: block;
    margin-top: 36px;
    width: 266px;
  }
}